In [2]:
import pandas as pd
import numpy as np

df1 = pd.read_csv("Plant_1_Generation_Data.csv")
df1_weather = pd.read_csv("Plant_1_Weather_Sensor_Data.csv")
df2 = pd.read_csv("Plant_2_Generation_Data.csv")
df2_weather = pd.read_csv("Plant_2_Weather_Sensor_Data.csv")

In [9]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [63]:
df1_weather

,DATE_TIME,PLANT_ID,SOURCE_KEY,AMBIENT_TEMPERATURE,MODULE_TEMPERATURE,IRRADIATION
0,2020-05-15 00:00:00,4135001,HmiyD2TTLFNqkNe,25.184316,22.857507,0.0
1,2020-05-15 00:15:00,4135001,HmiyD2TTLFNqkNe,25.084589,22.761668,0.0
2,2020-05-15 00:30:00,4135001,HmiyD2TTLFNqkNe,24.935753,22.592306,0.0
3,2020-05-15 00:45:00,4135001,HmiyD2TTLFNqkNe,24.846130,22.360852,0.0
4,2020-05-15 01:00:00,4135001,HmiyD2TTLFNqkNe,24.621525,22.165423,0.0
...,...,...,...,...,...,...
3177,2020-06-17 22:45:00,4135001,HmiyD2TTLFNqkNe,22.150570,21.480377,0.0
3178,2020-06-17 23:00:00,4135001,HmiyD2TTLFNqkNe,22.129816,21.389024,0.0
3179,2020-06-17 23:15:00,4135001,HmiyD2TTLFNqkNe,22.008275,20.709211,0.0
3180,2020-06-17 23:30:00,4135001,HmiyD2TTLFNqkNe,21.969495,20.734963,0.0
3181,2020-06-17 23:45:00,4135001,HmiyD2TTLFNqkNe,21.909288,20.427972,0.0

In [64]:
df2_weather

,DATE_TIME,PLANT_ID,SOURCE_KEY,AMBIENT_TEMPERATURE,MODULE_TEMPERATURE,IRRADIATION
0,2020-05-15 00:00:00,4136001,iq8k7ZNt4Mwm3w0,27.004764,25.060789,0.0
1,2020-05-15 00:15:00,4136001,iq8k7ZNt4Mwm3w0,26.880811,24.421869,0.0
2,2020-05-15 00:30:00,4136001,iq8k7ZNt4Mwm3w0,26.682055,24.427290,0.0
3,2020-05-15 00:45:00,4136001,iq8k7ZNt4Mwm3w0,26.500589,24.420678,0.0
4,2020-05-15 01:00:00,4136001,iq8k7ZNt4Mwm3w0,26.596148,25.088210,0.0
...,...,...,...,...,...,...
3254,2020-06-17 22:45:00,4136001,iq8k7ZNt4Mwm3w0,23.511703,22.856201,0.0
3255,2020-06-17 23:00:00,4136001,iq8k7ZNt4Mwm3w0,23.482282,22.744190,0.0
3256,2020-06-17 23:15:00,4136001,iq8k7ZNt4Mwm3w0,23.354743,22.492245,0.0
3257,2020-06-17 23:30:00,4136001,iq8k7ZNt4Mwm3w0,23.291048,22.373909,0.0
3258,2020-06-17 23:45:00,4136001,iq8k7ZNt4Mwm3w0,23.202871,22.535908,0.0

In [8]:
# pd.set_option("display.max_rows",70000000)  # KISALTMA ENGELLEME
# pd.set_option("display.max_columns",2200)  # KISALTMA ENGELLEME

In [3]:
df1.drop(columns=["PLANT_ID"], inplace=True)
df2.drop(columns=["PLANT_ID"], inplace=True)

In [12]:
df1["SOURCE_KEY"].unique()

array(['1BY6WEcLGh8j5v7', '1IF53ai7Xc0U56Y', '3PZuoBAID5Wc2HD',
       '7JYdWkrLSPkdwr4', 'McdE0feGgRqW7Ca', 'VHMLBKoKgIrUVDU',
       'WRmjgnKYAwPKWDb', 'ZnxXDlPa8U1GXgE', 'ZoEaEvLYb1n2sOq',
       'adLQvlD726eNBSB', 'bvBOhCH3iADSZry', 'iCRJl6heRkivqQ3',
       'ih0vzX44oOqAx2f', 'pkci93gMrogZuBj', 'rGa61gmuvPhdLxV',
       'sjndEbLyjtCKgGv', 'uHbuxQJl8lW7ozc', 'wCURE6d3bPkepu2',
       'z9Y9gH1T5YWrNuG', 'zBIq5rxdHJRwDNY', 'zVJPv84UY57bAof',
       'YxYtjZvoooNbGkE'], dtype=object)

In [13]:
df2["SOURCE_KEY"].unique()

array(['4UPUqMRk7TRMgml', '81aHJ1q11NBPMrL', '9kRcWv60rDACzjR',
       'Et9kgGMDl729KT4', 'IQ2d7wF4YD8zU1Q', 'LYwnQax7tkwH5Cb',
       'LlT2YUhhzqhg5Sw', 'Mx2yZCDsyf6DPfv', 'NgDl19wMapZy17u',
       'PeE6FRyGXUgsRhN', 'Qf4GUc1pJu5T6c6', 'Quc1TzYxW2pYoWX',
       'V94E5Ben1TlhnDV', 'WcxssY2VbP4hApt', 'mqwcsP2rE7J0TFp',
       'oZ35aAeoifZaQzV', 'oZZkBaNadn6DNKz', 'q49J1IKaHRwDQnt',
       'rrq4fwE8jgrTyWY', 'vOuJvMaM2sgwLmb', 'xMbIugepa2P7lBB',
       'xoJJ8DcxJEcupym'], dtype=object)

In [16]:
df1[df1["SOURCE_KEY"].isin(df2["SOURCE_KEY"])]

Empty DataFrame
Columns: [DATE_TIME, SOURCE_KEY, DC_POWER, AC_POWER, DAILY_YIELD, TOTAL_YIELD]
Index: []

In [17]:
df1

,DATE_TIME,SOURCE_KEY,DC_POWER,AC_POWER,DAILY_YIELD,TOTAL_YIELD
0,15-05-2020 00:00,1BY6WEcLGh8j5v7,0.0,0.0,0.000,6259559.0
1,15-05-2020 00:00,1IF53ai7Xc0U56Y,0.0,0.0,0.000,6183645.0
2,15-05-2020 00:00,3PZuoBAID5Wc2HD,0.0,0.0,0.000,6987759.0
3,15-05-2020 00:00,7JYdWkrLSPkdwr4,0.0,0.0,0.000,7602960.0
4,15-05-2020 00:00,McdE0feGgRqW7Ca,0.0,0.0,0.000,7158964.0
...,...,...,...,...,...,...
68773,17-06-2020 23:45,uHbuxQJl8lW7ozc,0.0,0.0,5967.000,7287002.0
68774,17-06-2020 23:45,wCURE6d3bPkepu2,0.0,0.0,5147.625,7028601.0
68775,17-06-2020 23:45,z9Y9gH1T5YWrNuG,0.0,0.0,5819.000,7251204.0
68776,17-06-2020 23:45,zBIq5rxdHJRwDNY,0.0,0.0,5817.000,6583369.0
68777,17-06-2020 23:45,zVJPv84UY57bAof,0.0,0.0,5910.000,7363272.0

In [46]:
df1

,DATE_TIME,SOURCE_KEY,DC_POWER,AC_POWER,DAILY_YIELD,TOTAL_YIELD,datetime
0,15-05-2020 00:00,1BY6WEcLGh8j5v7,0.0,0.0,0.000,6259559.0,2020-05-15 00:00:00
1,15-05-2020 00:00,1IF53ai7Xc0U56Y,0.0,0.0,0.000,6183645.0,2020-05-15 00:00:00
2,15-05-2020 00:00,3PZuoBAID5Wc2HD,0.0,0.0,0.000,6987759.0,2020-05-15 00:00:00
3,15-05-2020 00:00,7JYdWkrLSPkdwr4,0.0,0.0,0.000,7602960.0,2020-05-15 00:00:00
4,15-05-2020 00:00,McdE0feGgRqW7Ca,0.0,0.0,0.000,7158964.0,2020-05-15 00:00:00
...,...,...,...,...,...,...,...
68773,17-06-2020 23:45,uHbuxQJl8lW7ozc,0.0,0.0,5967.000,7287002.0,2020-06-17 23:45:00
68774,17-06-2020 23:45,wCURE6d3bPkepu2,0.0,0.0,5147.625,7028601.0,2020-06-17 23:45:00
68775,17-06-2020 23:45,z9Y9gH1T5YWrNuG,0.0,0.0,5819.000,7251204.0,2020-06-17 23:45:00
68776,17-06-2020 23:45,zBIq5rxdHJRwDNY,0.0,0.0,5817.000,6583369.0,2020-06-17 23:45:00
68777,17-06-2020 23:45,zVJPv84UY57bAof,0.0,0.0,5910.000,7363272.0,2020-06-17 23:45:00

In [24]:
df2

,DATE_TIME,SOURCE_KEY,DC_POWER,AC_POWER,DAILY_YIELD,TOTAL_YIELD
0,2020-05-15 00:00:00,4UPUqMRk7TRMgml,0.0,0.0,9425.000000,2.429011e+06
1,2020-05-15 00:00:00,81aHJ1q11NBPMrL,0.0,0.0,0.000000,1.215279e+09
2,2020-05-15 00:00:00,9kRcWv60rDACzjR,0.0,0.0,3075.333333,2.247720e+09
3,2020-05-15 00:00:00,Et9kgGMDl729KT4,0.0,0.0,269.933333,1.704250e+06
4,2020-05-15 00:00:00,IQ2d7wF4YD8zU1Q,0.0,0.0,3177.000000,1.994153e+07
...,...,...,...,...,...,...
67693,2020-06-17 23:45:00,q49J1IKaHRwDQnt,0.0,0.0,4157.000000,5.207580e+05
67694,2020-06-17 23:45:00,rrq4fwE8jgrTyWY,0.0,0.0,3931.000000,1.211314e+08
67695,2020-06-17 23:45:00,vOuJvMaM2sgwLmb,0.0,0.0,4322.000000,2.427691e+06
67696,2020-06-17 23:45:00,xMbIugepa2P7lBB,0.0,0.0,4218.000000,1.068964e+08
67697,2020-06-17 23:45:00,xoJJ8DcxJEcupym,0.0,0.0,4316.000000,2.093357e+08

In [34]:
from datetime import datetime
df2["datetime"] = pd.to_datetime(pd.Series(df2["DATE_TIME"]), format='%Y-%m-%d %H:%M:%S')
df1["datetime"] = pd.to_datetime(pd.Series(df1["DATE_TIME"]), format='%d-%m-%Y %H:%M')

In [62]:
df1["datetime"] = pd.to_datetime(pd.Series(df1["DATE_TIME"]), format='%d-%m-%Y %H:%M')

,DATE_TIME,SOURCE_KEY,DC_POWER,AC_POWER,DAILY_YIELD,TOTAL_YIELD,datetime
0,2020-05-15 00:00:00,4UPUqMRk7TRMgml,0.0,0.0,9425.000000,2.429011e+06,2020-05-15 00:00:00
1,2020-05-15 00:00:00,81aHJ1q11NBPMrL,0.0,0.0,0.000000,1.215279e+09,2020-05-15 00:00:00
2,2020-05-15 00:00:00,9kRcWv60rDACzjR,0.0,0.0,3075.333333,2.247720e+09,2020-05-15 00:00:00
3,2020-05-15 00:00:00,Et9kgGMDl729KT4,0.0,0.0,269.933333,1.704250e+06,2020-05-15 00:00:00
4,2020-05-15 00:00:00,IQ2d7wF4YD8zU1Q,0.0,0.0,3177.000000,1.994153e+07,2020-05-15 00:00:00
5,2020-05-15 00:00:00,LYwnQax7tkwH5Cb,0.0,0.0,1872.500000,1.794959e+09,2020-05-15 00:00:00
6,2020-05-15 00:00:00,LlT2YUhhzqhg5Sw,0.0,0.0,1094.357143,2.825928e+08,2020-05-15 00:00:00
7,2020-05-15 00:00:00,Mx2yZCDsyf6DPfv,0.0,0.0,5692.200000,2.453646e+06,2020-05-15 00:00:00
8,2020-05-15 00:00:00,NgDl19wMapZy17u,0.0,0.0,1866.200000,1.115126e+08,2020-05-15 00:00:00
9,2020-05-15 00:00:00,PeE6FRyGXUgsRhN,0.0,0.0,651.200000,1.348351e+09,2020-05-15 00:00:00
10,2020-05-15 00:00:00,Qf4GUc1pJu5T6c6,0.0,0.0,0.000000,8.384214e+08,2020-05-15 00:00:00
11,2020-05-15 00:00:00,Quc1TzYxW2pYoWX,0.0,0.0,5495.000000,3.295091e+08,2020-05-15 00:00:00
12,2020-05-15 00:00:00,V94E5Ben1TlhnDV,0.0,0.0,0.000000,1.412083e+09,2020-05-15 00:00:00
13,2020-05-15 00:00:00,WcxssY2VbP4hApt,0.0,0.0,0.000000,1.816953e+08,2020-05-15 00:00:00
14,2020-05-15 00:00:00,mqwcsP2rE7J0TFp,0.0,0.0,1238.533333,5.935800e+08,2020-05-15 00:00:00
15,2020-05-15 00:00:00,oZ35aAeoifZaQzV,0.0,0.0,1281.466667,1.659965e+09,2020-05-15 00:00:00
16,2020-05-15 00:00:00,oZZkBaNadn6DNKz,0.0,0.0,0.000000,1.708083e+09,2020-05-15 00:00:00
17,2020-05-15 00:00:00,q49J1IKaHRwDQnt,0.0,0.0,4315.000000,3.399230e+05,2020-05-15 00:00:00
18,2020-05-15 00:00:00,rrq4fwE8jgrTyWY,0.0,0.0,280.214286,1.209641e+08,2020-05-15 00:00:00
19,2020-05-15 00:00:00,vOuJvMaM2sgwLmb,0.0,0.0,0.000000,2.211962e+06,2020-05-15 00:00:00
20,2020-05-15 00:00:00,xMbIugepa2P7lBB,0.0,0.0,9166.000000,1.066566e+08,2020-05-15 00:00:00
21,2020-05-15 00:00:00,xoJJ8DcxJEcupym,0.0,0.0,0.000000,2.091436e+08,2020-05-15 00:00:00
22,2020-05-15 00:15:00,4UPUqMRk7TRMgml,0.0,0.0,9425.000000,2.429011e+06,2020-05-15 00:15:00
23,2020-05-15 00:15:00,81aHJ1q11NBPMrL,0.0,0.0,0.000000,1.215279e+09,2020-05-15 00:15:00
24,2020-05-15 00:15:00,9kRcWv60rDACzjR,0.0,0.0,0.000000,2.247720e+09,2020-05-15 00:15:00

In [44]:
df1["datetime"].unique()

array(['2020-05-15T00:00:00.000000000', '2020-05-15T00:15:00.000000000',
       '2020-05-15T00:30:00.000000000', ...,
       '2020-06-17T23:15:00.000000000', '2020-06-17T23:30:00.000000000',
       '2020-06-17T23:45:00.000000000'], dtype='datetime64[ns]')

In [45]:
df2["datetime"].unique()

array(['2020-05-15T00:00:00.000000000', '2020-05-15T00:15:00.000000000',
       '2020-05-15T00:30:00.000000000', ...,
       '2020-06-17T23:15:00.000000000', '2020-06-17T23:30:00.000000000',
       '2020-06-17T23:45:00.000000000'], dtype='datetime64[ns]')

In [58]:
df1[~df1["datetime"].isin(df2["datetime"].unique())]["datetime"].unique()

array(['2020-05-19T16:00:00.000000000', '2020-05-29T16:00:00.000000000',
       '2020-06-01T17:45:00.000000000', '2020-06-03T14:00:00.000000000'],
      dtype='datetime64[ns]')

In [60]:
df2[~df2["datetime"].isin(df1["datetime"].unique())]["datetime"].unique()

array(['2020-05-15T23:30:00.000000000', '2020-05-15T23:45:00.000000000',
       '2020-05-16T00:00:00.000000000', '2020-05-16T00:15:00.000000000',
       '2020-05-16T00:30:00.000000000', '2020-05-16T00:45:00.000000000',
       '2020-05-16T01:00:00.000000000', '2020-05-16T01:15:00.000000000',
       '2020-05-16T01:30:00.000000000', '2020-05-16T01:45:00.000000000',
       '2020-05-19T11:45:00.000000000', '2020-05-19T12:00:00.000000000',
       '2020-05-19T12:15:00.000000000', '2020-05-20T13:30:00.000000000',
       '2020-05-20T13:45:00.000000000', '2020-05-20T14:00:00.000000000',
       '2020-05-20T14:15:00.000000000', '2020-05-20T14:30:00.000000000',
       '2020-05-20T14:45:00.000000000', '2020-05-20T15:00:00.000000000',
       '2020-05-20T15:15:00.000000000', '2020-05-20T15:30:00.000000000',
       '2020-05-20T15:45:00.000000000', '2020-05-20T16:00:00.000000000',
       '2020-05-20T16:15:00.000000000', '2020-05-20T16:30:00.000000000',
       '2020-05-20T16:45:00.000000000', '2020-05-20T17:00:00.000000000',
       '2020-05-20T17:15:00.000000000', '2020-05-20T23:00:00.000000000',
       '2020-05-20T23:15:00.000000000', '2020-05-20T23:30:00.000000000',
       '2020-05-20T23:45:00.000000000', '2020-05-21T00:00:00.000000000',
       '2020-05-21T00:15:00.000000000', '2020-05-21T00:30:00.000000000',
       '2020-05-21T00:45:00.000000000', '2020-05-21T01:00:00.000000000',
       '2020-05-21T01:15:00.000000000', '2020-05-21T01:30:00.000000000',
       '2020-05-21T01:45:00.000000000', '2020-05-21T02:00:00.000000000',
       '2020-05-21T02:15:00.000000000', '2020-05-21T02:30:00.000000000',
       '2020-05-21T02:45:00.000000000', '2020-05-21T03:00:00.000000000',
       '2020-05-21T03:15:00.000000000', '2020-05-21T03:30:00.000000000',
       '2020-05-21T03:45:00.000000000', '2020-05-21T04:00:00.000000000',
       '2020-05-21T04:15:00.000000000', '2020-05-21T04:30:00.000000000',
       '2020-05-21T04:45:00.000000000', '2020-05-21T05:00:00.000000000',
       '2020-05-21T05:15:00.000000000', '2020-05-21T05:30:00.000000000',
       '2020-05-21T05:45:00.000000000', '2020-05-21T06:00:00.000000000',
       '2020-05-21T06:15:00.000000000', '2020-05-21T06:30:00.000000000',
       '2020-05-21T06:45:00.000000000', '2020-05-21T07:00:00.000000000',
       '2020-05-21T07:15:00.000000000', '2020-05-21T07:30:00.000000000',
       '2020-05-23T05:15:00.000000000', '2020-05-23T05:30:00.000000000',
       '2020-05-23T05:45:00.000000000', '2020-05-23T06:00:00.000000000',
       '2020-05-23T06:15:00.000000000', '2020-05-23T06:30:00.000000000',
       '2020-05-23T21:45:00.000000000', '2020-05-25T05:45:00.000000000',
       '2020-05-28T22:30:00.000000000', '2020-05-28T22:45:00.000000000',
       '2020-05-28T23:00:00.000000000', '2020-05-28T23:15:00.000000000',
       '2020-05-28T23:30:00.000000000', '2020-05-28T23:45:00.000000000',
       '2020-05-29T00:00:00.000000000', '2020-05-29T00:15:00.000000000',
       '2020-05-29T00:30:00.000000000', '2020-05-29T00:45:00.000000000',
       '2020-05-29T01:00:00.000000000', '2020-05-29T01:15:00.000000000',
       '2020-05-29T01:30:00.000000000', '2020-05-29T01:45:00.000000000',
       '2020-05-29T02:00:00.000000000', '2020-05-29T02:15:00.000000000',
       '2020-05-29T02:30:00.000000000', '2020-05-29T02:45:00.000000000',
       '2020-05-29T03:00:00.000000000', '2020-05-29T03:15:00.000000000',
       '2020-05-29T03:30:00.000000000', '2020-05-29T03:45:00.000000000',
       '2020-05-29T04:00:00.000000000', '2020-05-29T04:15:00.000000000',
       '2020-05-29T04:30:00.000000000', '2020-05-29T04:45:00.000000000',
       '2020-05-29T05:00:00.000000000', '2020-05-29T05:15:00.000000000',
       '2020-05-29T05:30:00.000000000', '2020-05-29T05:45:00.000000000',
       '2020-05-29T06:00:00.000000000', '2020-06-17T06:15:00.000000000',
       '2020-06-17T06:30:00.000000000'], dtype='datetime64[ns]')